body {
  font-family: Arial, sans-serif;
  display: flex;
  margin: 0%;
  width: 100vw;
  aspect-ratio: 2/1;
}
#map {
  flex: 1;
  background: #111;
  position: relative;
  width: 50vw;
  aspect-ratio: 1;
}
#info-panel {
  flex: 1;
  background: #f4f4f4;
  padding: 2%;
  width: 50vw;
  aspect-ratio: 1;
  overflow-y: scroll;
}
.star {
  position: absolute;
  /*background: #fff033;*/
  background: #fdfcd7;
  border: none;
  border-radius: 50%;
  width: 24%;
  height: 24%;
  transform: translate(-50%, -50%);
  color: black;
  font-weight: bold;
}
.planet {
  position: absolute;
  background: #2a9df4;
  border: none;
  border-radius: 50%;
  width: 7%;
  height: 7%;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.2s;
}
.planet:hover {
	/* transform: translateX(-75%) translateY(25%); */
	transform: scale(1.1) translate(-45.454545%, -45.454545%);
}
.giant {
  width: 9%;
  height: 9%;
}
@media only screen and (max-width: 800px) {
body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  margin: 0;
  width: 100vw;
  height: 100vh;
}
#map {
  flex: 1;
  background: #111;
  position: relative;
  width: 100%;
  aspect-ratio: 1;
}
#info-panel {
  flex: 1;
  background: #f4f4f4;
  padding: 2%;
  width: 100%;
  aspect-ratio: 1;
  overflow-y: scroll;
}
}
